.start  {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 5em;

    
}


.second{
   
   
    animation-name:rotar;
    animation-duration:60s;
    animation-timing-function: steps(60, end);
    animation-iteration-count: infinite;
}


.minute{
    animation-name:rotar;
    animation-duration:3600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.hour{

    animation-name:rotar;
    animation-duration:43200s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.clock {


    position: relative;
    width: 378px;
    height: 378px;
    background-image: url('../img/clockFace.png');
    left: 50%;
    margin: 5em 0 0 -189px;
}

.clock div {
    position: absolute;
}


/* ANIMACIONES Y TRANSFORMACIONES  */

@keyframes rotar{

 from{
  transform:rotate(0deg);
}   

to{
    transform:rotate(360deg);
}

  
}

