*{
    box-sizing: border-box;
}

body{
    font:400 12pt/1.6em Arial, Helvetica, sans-serif;

}

h1{
    font-size:1.1em;
    margin-bottom:30px;
}

h1, ul {
    margin:0;
    padding:0;
}

ul,ol{
    list-style: none;
}

a,
a:visited,
a:link,
a:active {
    text-decoration:none;
    border-bottom:1px dotted transparent;
}

.wrapper{
    margin: 0 auto; /**centrar elementos de bloque*/
    width: 960px;
}

.header{
    background-color:black;
    color:#fff;
    padding:45px 10px;
    text-align: center;
}

.header p{
    margin-top:30px;
    margin-bottom:30px;
}

.header a, .header a:visited,
.header a:link, .header a:active {
    color: #FFF;
    border-color:#FFF;
}

.menu{
    text-transform: lowercase;
}

.menu li{
    display:inline; /*Los elementos de la lista del menú pasan a ser elementos en línea*/
    margin: 0.5em;

}

.articulo{

    margin:25px 0;
}

.h2{
    display:block;
    color:#000;
    font-size:1.1em;
}

.article .h2{
    margin-bottom:0.2em;
}

.article .h2 a{
    color:#000;
    border-color:#000;
   /* text-decoration: none;
    border-bottom:1px dotted #000; */
}

a.enlace{

    color:#00E;
    border-color:#00E;

    }

a.enlace-articulo{
    color:#00E;
    border-color:#00E;
}

.fecha-fright{
    float:right;
}

.linea-punteada{
    
    border-bottom:1px dashed #C0C0C0;
    display:;

}

.strong {
font-weight: bold;
}

.day {
display: inline-block;
width: 20px;
text-align: right;
margin-right: 10px;
font-size: .8em;
}