.fecha-fright{
    float:right;
}

a.enlace{
    color:#00E;
    border-color: #00E;
}

a.enlace-articulo{
    color:#00E;
    border-color:#00E;
}

strong{
    font-weight:bold;
}

.archive .dia-articulo{
    display:inline-block;
    width:40px;
    text-align: right;
    margin-right:10px;
}

.footer{
    text-align: center;
}

h3,h3.{
    display:block;
    font-size:1.1em;
    border-bottom:1px dotted ;
}

.comments img{
    width:100px;
    height: 100px;

}

.fleft-comment{
    float:left;
}

.comments .comment{

}

form .input,
form .textarea{
    border:1px solid #ccc;
    width:300px;


}

.form .row{
    margin-bottom:10px;
}

.form-rows input,
.form-rows label,
.form-rows textarea {
    display:block;
    margin:5px 0;

}


table{
    padding:50px;
    background-color:#C0C0C0;
}

td {
    padding:5px;
    background-color:#FFF;
}


th {
    background-color:#C0C0C0;
    padding-right:20px;
}




